<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent>
    </queries>

    <permission
        android:name="${applicationId}.permission.READ_SETTINGS"
        android:description="@string/permdesc_read_settings"
        android:label="@string/permlab_read_settings"
        android:protectionLevel="signature" />
    <permission
        android:name="${applicationId}.permission.WRITE_SETTINGS"
        android:description="@string/permdesc_write_settings"
        android:label="@string/permlab_write_settings"
        android:protectionLevel="signature" />

    <application
        android:name="com.android.launcher3.LauncherApplication"
        android:allowBackup="true"
        android:backupInForeground="true"
        android:fullBackupContent="@xml/backupscheme"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher_home"
        android:label="@string/derived_app_name"
        android:largeHeap="@bool/config_largeHeap"
        android:resizeableActivity="true"
        android:restoreAnyVersion="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.android.launcher3.Launcher"
            android:clearTaskOnLaunch="true"
            android:configChanges="keyboard|keyboardHidden|mcc|mnc|navigation|orientation|screenSize|screenLayout|smallestScreenSize"
            android:exported="true"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:screenOrientation="unspecified"
            android:stateNotNeeded="true"
            android:taskAffinity=""
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.SHOW_WORK_APPS" />
                <action android:name="android.intent.action.ALL_APPS" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.MONKEY" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="com.android.launcher3.grid.control" android:value="${applicationId}.grid_control" />
        </activity>

        <receiver android:name="com.android.launcher3.SessionCommitReceiver" android:exported="true">
            <intent-filter><action android:name="android.content.pm.action.SESSION_COMMITTED" /></intent-filter>
        </receiver>
        <receiver android:name="com.android.launcher3.AppWidgetsRestoredReceiver" android:exported="true">
            <intent-filter><action android:name="android.appwidget.action.APPWIDGET_HOST_RESTORED" /></intent-filter>
        </receiver>
        <service
            android:name="com.android.launcher3.notification.NotificationListener"
            android:exported="true"
            android:label="@string/notification_dots_service_title"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter><action android:name="android.service.notification.NotificationListenerService" /></intent-filter>
        </service>
        <activity
            android:name="com.android.launcher3.dragndrop.AddItemActivity"
            android:autoRemoveFromRecents="true"
            android:excludeFromRecents="true"
            android:exported="true"
            android:theme="@style/AddItemActivityTheme">
            <intent-filter>
                <action android:name="android.content.pm.action.CONFIRM_PIN_SHORTCUT" />
                <action android:name="android.content.pm.action.CONFIRM_PIN_APPWIDGET" />
            </intent-filter>
        </activity>
        <provider
            android:name="com.android.launcher3.LauncherProvider"
            android:authorities="${applicationId}.settings"
            android:exported="true"
            android:readPermission="${applicationId}.permission.READ_SETTINGS"
            android:writePermission="${applicationId}.permission.WRITE_SETTINGS" />
        <provider
            android:name="com.android.launcher3.graphics.LauncherCustomizationProvider"
            android:authorities="${applicationId}.grid_control"
            android:exported="false" />
        <activity
            android:name="com.android.launcher3.settings.SettingsActivity"
            android:autoRemoveFromRecents="true"
            android:exported="true"
            android:label="@string/settings_button_text"
            android:theme="@style/HomeSettings.Theme">
            <intent-filter>
                <action android:name="android.intent.action.APPLICATION_PREFERENCES" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.android.launcher3.secondarydisplay.SecondaryDisplayLauncher"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SECONDARY_HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>
